//Colors
$primaryColor: #3D37F1;
$secondaryColor: #EDA046;
$thirdColor: #F5167E;


//Box-shadow
$primaryBoxshadow: 0px 10px 50px rgba(61, 55, 241, 0.25);

i.fa-solid.fa-chevron-right {
    position: absolute;
    width: 40px;
    height: 20px;
    left: 1264px;
    top: 295px;
    font-size: 60px;
    color: $primaryColor;
    /* transform: rotate(-90deg); */
}

i.fa-solid.fa-chevron-left {
    position: absolute;
    width: 40px;
    height: 20px;
    left: 90px;
    top: 255px;
    font-size: 60px;
    color: $secondaryColor;
    /* transform: rotate(90deg); */
}

.subheader {
    position: absolute;
    width: 443px;
    height: 98px;
    left: 820px;
    top: 218px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}

.dscP {
    position: absolute;
    width: 443px;
    height: 69px;
    left: 820px;
    top: 342px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
}

.tickets {
    position: absolute;
    width: 182px;
    height: 60px;
    left: 812px;
    top: 441px;

    background: $thirdColor;
    box-shadow: $primaryBoxshadow;
    border-radius: 50px;
}

.learn {
    box-sizing: border-box;

    position: absolute;
    width: 182px;
    height: 60px;
    left: 1014px;
    top: 441px;

    
    filter: drop-shadow(0px 10px 50px rgba(61, 55, 241, 0.25));
    border-radius: 50px;
}